<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if tldr -%}
    <meta name="tldr" content="{{tldr}}">
  {%- endif %}
  {% if description -%}
    <meta name="description" content="{{description}}">
  {% endif -%}
  {% if noindex-%}
    <meta name="robots" content="noindex">
  {% endif -%}
  <title>{{title}} | James Wilson</title>
  <link rel="stylesheet" href="/css/styles.css">
{%- if usePrism %}  <link rel="stylesheet" href="/css/prism-tomorrow.css"> {% endif -%}
</head>
<body>
  <div class="site__container">
    <header class="columns">
      <a href="/" class="header__logo">
        <div class="header__name">James Wilson</div>
        <div class="header__epithet">Tired Keen Coder</div>
      </a>
      <nav class="navigation__container">
        {%- for item in navigation  -%}
          <a class="navigation__item" href="{{item.path}}"
            {%- if page.url == item.path -%}selected{% endif %}>
            {{-item.text-}}
          </a>
        {% endfor -%}
      </nav>
    </header>
    
    <main>
      {{ content | safe }}
    </main>
  </div>
</body>
</html>