---
layout: layout.njk
---
<div class="columns">
  <div class="title">
    <h1>
      {{ title }}
    </h1>
  </div>
</div>

<div class="columns">
  <div class="content">
    {{{ content }}}
    {{{ license }}}
  </div>
</div>
