---
layout: layout.njk
---
<article class="article__container">

  <div class="columns">
    <hgroup class="title">
      <h1>
        {% if type %}
        <div class="title__type">{{type}}:</div>
        {% endif %}
        <div>{{ title }}</div>
      </h1>
      <h2 class="title__date">
        {{date | formatDate}}
      </h2>
    </hgroup>
  </div>

  <div class="columns">
    {% if tldr %}
    <div class="tldr">
      TLDR: {{ tldr -}}
    </div>
    {% endif %}

    <div class="content">
      {{- content | safe -}}
    </div>
  </div>

  <div class="columns">
    {% if tags %}
      <ul class="taglist">
      <li>Tags:</li>
        {% for tag in tags %}
          {% if tag != 'post' %}
          <li class="taglist__item">
            <a href="/tag/{{tag | slug}}">
              {{-tag-}}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    {%- license %}
  </div>

</article>