---
pagination:
  data: collections
  size: 1
  addAllPagesToCollections: true
  alias: tag
  filter:
    - all
    - post
permalink: /tag/{{ tag }}/
layout: layout.njk
noindex: true
---
<div class="columns">
  <h1 class="title">
      Posts about {{tag}}
  </h1>
</div>

<div class="columns">
  <div class="content">
    <ul class="posts__container">
        {% for post in collections[tag] | reverse %}
          <li class="posts__post">
            <a class="posts__link" href="{{post.url}}">{{post.data.title}}</a>
            <div class="posts_excerpt">{{post.data.page.excerpt | markdownify | safe}}</div>
            <div class="posts__date">{{post.date | formatDate}}</div>
            {% if post.data.tags %}
              <ul class="taglist">
                <li>tags:</li>
                {% for tag in post.data.tags %}
                  {% if tag !== "post" %}
                  <li class="taglist__item">
                    <a href="/tag/{{tag}}">{{tag}}</a>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}

    </ul>
  </div>
</div>