:root {
  --background: #00181c;
  --main-text: rgb(255, 240, 240);
  --accent1: #8866bb;
  --accent2: #f12279;
  --accent3: #26f0f1;
  --accent4: #ff7034;
  --site-width: 1100px;
  --site-width: 1100px;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 2rem;
  background-color: var(--background);
  color: var(--main-text);
}

a {
  color: var(--accent2)
}

main {
  display: contents;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-block-start: 0;
}

h1 {
  color: var(--accent1);
  text-transform: uppercase;
  font-size: 1.25rem;
}

.site__container {
  max-width: var(--site-width);
  margin: auto;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.header__logo {
  text-decoration: none;
}
@media (max-width: 950px) {
  .header__logo {
    text-align: center;
  }
}

.article__container {
  display: contents;
}

.header__name {
  font-size: 1.5rem;
  font-weight: bold;
}

.header__epithet {
  font-style: italic;
}

.title__date {
  font-size: 1rem;
  font-weight: normal;
}

.navigation__container {
  justify-self: center;
  block-size: max-content;

  display: flex;
  justify-content: center;
}

.navigation__item {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.navigation__item[selected] {
  font-style: italic;
}

.title {
  grid-column: middle;
}

.title__type {
  font-weight: normal;
  font-size: 1.5rem;
}

blockquote {
  padding: 1rem;
  border-inline-start: 0.25rem solid;
  margin-inline-start: 0;
}

code,
samp {
  word-break: break-all;
  font-size: 1.125rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.tldr {
  grid-column: left;
  grid-row: 1/5;
  /* 5 is arbitrary here, it's because of the way the grid is set up.
  all children of .content are in the middle column (to help code
  snippets stick out more), but if .tldr is longer than the first child
  of .content, you get a weird gap. It's unlikely to be longer than the
  first 5 elements though :) */
  font-style: italic;
}

.posts__container {
  padding-inline-start: 0;
  list-style-type: none;
}

.posts__post {
  margin-block-end: 3rem;
}

.posts__link {
  font-size: 1.75rem;
  font-weight: bold;
  display: block;
  margin-block-end: 1rem;
}

.posts_excerpt >*:last-child:after{
  content: '…';
}

.posts__date{
  font-style:italic;
}

.taglist {
  grid-column: middle;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block-end: 1rem;
}

.taglist__item {
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.25rem;
}

.content {
  display: contents;
}

.content > * {
  grid-column: middle;
}

.content pre {
  grid-column: middle/right;
}

.license {
  padding-block-start: 3rem;
  font-size: 0.875rem;
  grid-column: middle;
}

.myemail {
  padding-block-end: 2rem;
  text-align: center;
}

.