---
layout: layout.njk
title: James Wilson Codes
description: A straightforward blog about web development and javascript.
---
<div class="columns">
  <div class="title">
    <h1>My posts</h1>
  </div>
</div>

<div class="columns">
  <div class="content">
    <ul class="posts__container">
    {% for post in collections.post | reverse %}
      <li class="posts__post">
        <a class="posts__link" href="{{post.url}}">{{post.data.title}}</a>
        <div class="posts_excerpt">{{post.data.page.excerpt | markdownify | safe}}</div>
        <div class="posts__date">{{post.date | formatDate}}</div>
        {% if post.data.tags %}
        <ul class="taglist">
          <li class="taglist__item">
            Tags:
          </li>
          {% for tag in post.data.tags %}
            {% if tag != "post" %}
              <li class="taglist__item">
                <a href="/tag/{{tag}}">{{tag}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor  %}
    </ul>
  </div>
</div>