---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in collections.all %}
  {% if not page.data.noindex %}
    <url>
      <loc>{{page.data.site.url}}{{page.url}}</loc>
      <lastmod>{{page.date | yyyymmdd}}</lastmod>
      <changefreq>monthly</changefreq>
      <priority>
      {%- set isPost = false -%}
         {%- for tag in page.data.tags %}
            {%- if tag === 'post' %}
               {%- set isPost = true %}
            {%- endif %}
         {%- endfor %}
         {%- if isPost %}1{%- else %}0.5{%- endif -%}
      </priority>
    </url>
  {% endif %}
{%- endfor %}
</urlset> 